body {

    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
}
.header {
    width: 900px;
    float: left;
    margin: 0px 5px 15px 20px;
    padding: 0px 0px 5px 5px;
    color: #8732e8;
    background: #8732e8;
    }
    nav{
        padding: 0 50px;
        width: 100%;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card-img-top{
        height: 50%;
        width: 50%;
        border-radius: 100%;
        margin: 0 auto; 
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }
    .card{
        padding: 1.5em .5em,.5em;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        height: 260px;
        
    }